<!DOCTYPE html>
html(class="no-js" lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Flexbox
		link(rel="stylesheet" href="css/foundation.css")
		link(rel="stylesheet" href="css/custom.css")
		link(href='http://fonts.googleapis.com/css?family=Raleway:800' rel='stylesheet' type='text/css')
		script(src="js/vendor/modernizr.js")
		script(src="js/vendor/jquery.js")
		script(src="js/script.js")
	body
		#container
			ul#flex-container
				li
					a(href="#")
						.magnify
						span Cultura
						img(src="img/thumb-1.jpg")
				li
					a(href="#")
						.magnify
						span Cultura
						img(src="img/thumb-2.jpg")
				li
					a(href="#")
						.magnify
						span Cultura
						img(src="img/thumb-3.jpg")
				li
					a(href="#")
						.magnify
						span Cultura
						img(src="img/thumb-4.jpg")
				li
					a(href="#")
						.magnify
						span Cultura
						img(src="img/thumb-5.jpg")
				li
					a(href="#")
						.magnify
						span Cultura
						img(src="img/thumb-6.jpg")

		script(src="js/foundation.min.js")
		script
			$(document).foundation();

